body {
	background-color: #D3D3D3;
}

#left {
	background-color: #fefefe;
	min-height: 600px;
	float: left;
	margin-right: 7px;
	width: 79%;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.right {
	float: left;
	min-height: 600px;
	background-color: #88DFFF;
	padding-left: 10px;
	width: 20%;
	clear: right;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.footer {
	background: #00BFFF;
	padding: 10px 20px;
	color: #222;
	text-align: center;
	font-weight: bold;
	background: #00BFFF;
	clear: both;
}